.digg_pagination {
	background: white;
	/* self-clearing method: */ 
}
.digg_pagination a, .digg_pagination span {
    padding: .1em .4em;
    display: block;
    float: left;
    margin-right: 1px; 
}
.digg_pagination span.disabled {
    color: #aaa;
    border: 1px solid #aaa; 
}
.digg_pagination span.current {
    font-weight: bold;
    background: #666;
    color: white;
    border: 1px solid #aaa; 
}
.digg_pagination a {
    text-decoration: none;
    color: #555;
    border: 1px solid #555; 
}
.digg_pagination a:hover, .digg_pagination a:focus {
    color: #111;
    border-color: #111;
}
.digg_pagination .page_info {
    background: #aaa;
    color: white;
    padding: .4em 0em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center;
}
.digg_pagination .page_info b {
    color: #003;
    background: #6aa6ed;
    padding: .1em .25em;
}

.digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .digg_pagination {
    height: 1%;
}
*:first-child+html .digg_pagination {
    overflow: hidden;
}