body {
	font-family: arial;
}

#main{
	width:80%;
	margin-left:20px;
}

.post_title {
	margin-top:10px;  
	font-weight:bold;
	font-size:1.1em;
	padding-left:10px;
}

.post_entry {
	text-align:left;
	padding-left:10px;
	padding-right:5px;
}

.div_border {
	border: 1px solid #bbb;
	margin-top: 10px;
	margin-bottom: 30px;
}

.sub {
	font-size: 0.9em;
	padding-left:10px;
}

.pagination{
	float:left;
	padding-left:10px;
}

.left{
  float:left;
}

.right{
  float:right;
}

#notice{
	float:left;
}

#hd{
	padding-left:10px;
}

#hd a {
	text-decoration : none;
	color: black;
}

#ft{
	padding-bottom:30px;
}

#top{
 padding-left:8px;
}

#bd{
	display: block;
}

pre {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left:20px;
	margin-right:10%;
	background: #000;
	color: white;
	float: auto;
}
