<!DOCTYPE html>
<html>
	<head>
		<title>Planet</title>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<%= yield %>


		<script type="text/javascript">
			var _gauges = _gauges || [];
			(function() {
			var t   = document.createElement('script');
			t.type  = 'text/javascript';
			t.async = true;
			t.id    = 'gauges-tracker';
			t.setAttribute('data-site-id', '4ee2f180613f5d250600000b');
			t.src = '//secure.gaug.es/track.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(t, s);
			})();
		</script>

	</body>
</html>
