<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Planet Rails @ Digital Codes</title>
    <%= stylesheet_link_tag 'style', 'pagination', 'jquery.tooltip'%>
    <link rel="alternate" type="application/rss+xml" title="Planet Rails Feed" href="http://feeds.feedburner.com/PlanetRails" /> 
    <%= javascript_include_tag 'jquery-1.2.6', 'jquery.dimensions', 'jquery.bgiframe', 'jquery.tooltip', 'jquery.hotkeys.js' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
